<launch>
    <arg name="rviz" default="false"/>

    <include file="$(find draco_slam)/launch/rov_one.launch"/>
    <include file="$(find draco_slam)/launch/rov_two.launch"/>
    <include file="$(find draco_slam)/launch/rov_three.launch"/>

    <node if="$(arg rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find bruce_slam)/rviz/video.rviz" />

</launch>
